@font-face {
  font-family: AkrobatBloack;
  src: url('~@/assets/font/Akrobat-Black.otf');
}
@font-face {
  font-family: SourceRegular;
  src: url('~@/assets/font/SOURCEHANSANSCN-REGULAR.OTF');
}
.flex {
  display: -webkit-flex;
  display: flex;
}
.font_akb {
  font-family: AkrobatBloack;
}
.closeBtn {
  width: 10.66666667vw;
  height: 10.66666667vw;
}
.text_outer_order {
  text-shadow: 0.57px 0.57px 0 black, 0.57px -0.57px 0 black, -0.57px -0.57px 0 black, -0.57px 0.57px 0 black, 0.57px 0.57px 0 black, 0.57px -0.57px 0 black, -0.57px -0.57px 0 black, -0.57px 0.57px 0 black, 0.57px 0.57px 0 black, 0.57px -0.57px 0 black, -0.57px -0.57px 0 black, -0.57px 0.57px 0 black, 0.57px 0.57px 0 black, 0.57px -0.57px 0 black, -0.57px -0.57px 0 black, -0.57px 0.57px 0 black, 0.57px 0px 0 black, 0.57px 0px 0 black, -0.57px 0px 0 black, -0.57px 0px 0 black, 0.57px 0.57px 0 black, 0.57px -0.57px 0 black, -0.57px -0.57px 0 black, -0.57px 0.57px 0 black, 0.57px 0.57px 0 black, 0.57px -0.57px 0 black, -0.57px -0.57px 0 black, -0.57px 0.57px 0 black, 0.57px 0.57px 0 black, 0.57px -0.57px 0 black, -0.57px -0.57px 0 black, -0.57px 0.57px 0 black, 0.57px 0.57px 0 black, 0.57px -0.57px 0 black, -0.57px -0.57px 0 black, -0.57px 0.57px 0 black, 0.57px 0px 0 black, 0.57px 0px 0 black, -0.57px 0px 0 black, -0.57px 0px 0 black, 0.57px 0.57px 0 black, 0.57px -0.57px 0 black, -0.57px -0.57px 0 black, -0.57px 0.57px 0 black, 0.57px 0.57px 0 black, 0.57px -0.57px 0 black, -0.57px -0.57px 0 black, -0.57px 0.57px 0 black, 0.57px 0.57px 0 black, 0.57px -0.57px 0 black, -0.57px -0.57px 0 black, -0.57px 0.57px 0 black, 0.57px 0.57px 0 black, 0.57px -0.57px 0 black, -0.57px -0.57px 0 black, -0.57px 0.57px 0 black, 0.57px 0px 0 black, 0.57px 0px 0 black, -0.57px 0px 0 black, -0.57px 0px 0 black, 0.57px 0.57px 0 black, 0.57px -0.57px 0 black, -0.57px -0.57px 0 black, -0.57px 0.57px 0 black, 0.57px 0.57px 0 black, 0.57px -0.57px 0 black, -0.57px -0.57px 0 black, -0.57px 0.57px 0 black, 0.57px 0.57px 0 black, 0.57px -0.57px 0 black, -0.57px -0.57px 0 black, -0.57px 0.57px 0 black, 0.57px 0.57px 0 black, 0.57px -0.57px 0 black, -0.57px -0.57px 0 black, -0.57px 0.57px 0 black, 0.57px 0px 0 black, 0.57px 0px 0 black, -0.57px 0px 0 black, -0.57px 0px 0 black, 0px 0.57px 0 black, 0px -0.57px 0 black, 0px -0.57px 0 black, 0px 0.57px 0 black, 0px 0.57px 0 black, 0px -0.57px 0 black, 0px -0.57px 0 black, 0px 0.57px 0 black, 0px 0.57px 0 black, 0px -0.57px 0 black, 0px -0.57px 0 black, 0px 0.57px 0 black, 0px 0.57px 0 black, 0px -0.57px 0 black, 0px -0.57px 0 black, 0px 0.57px 0 black, 0px 0px 0 black, 0px 0px 0 black, 0px 0px 0 black, 0px 0px 0 black, 0 0 0 black;
}
